project_4_web_service/src/main/resources/dto.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ab.io/library" targetNamespace="http://ab.io/library"
	elementFormDefault="qualified">
	
	<xs:complexType name="SignInForm">
		<xs:sequence>
			<xs:element minOccurs="0" name="email" type="xs:string" />
			<xs:element minOccurs="0" name="password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>