project_4_web_service/src/main/resources/request.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ab.io/library" targetNamespace="http://ab.io/library"
	elementFormDefault="qualified">

	<xs:include schemaLocation="dto.xsd" />
	<xs:include schemaLocation="model.xsd" />
	<xs:include schemaLocation="request-schema/book-request.xsd" />
	<xs:include schemaLocation="request-schema/rental-request.xsd" />
	<xs:include schemaLocation="request-schema/reservation-request.xsd" />
	<xs:include schemaLocation="request-schema/account-request.xsd" />
	

	<xs:element name="getAllAuthorsRequest" />
	<xs:element name="getAllTagsRequest" />
	<xs:element name="getAllRentalsRequest" />

</xs:schema>